
// Color Palette
$black                 = black
$blue                  = blue
$gray                  = gray
$green                 = green
$red                   = red


// Typography
$serif                 = 'Cardo', serif
$sans-serif            = 'Montserrat', sans-serif


// Box Model
$box-model             = true


// Breakpoints
$tablet-breakpoint      = 45em
$desktop-breakpoint     = 60em
$hd-breakpoint          = 70em



// Opacity
// Example Usage: .opacity(50%);
opacity(opacity = 0.5)
  opacity: opacity


// CSS Transitions + Animations
transition(prop = all, speed = 0.3s)
  transition: prop speed

// Animations
// Example Usage .animation(1s);
animate(duration = 1s)
  animation-duration: duration
  animation-fill-mode: both



// Animation Delay
// Example Usage .animation-delay(1s)
animate-delay(delay = 1s)
  animation-delay: delay



// CSS Transitions
// Example Usage .transition(0.3s)
transition(prop= all, speed = 0.3s)
  transition: prop speed



// Transition Delay
// Example usage .transition-delay(.3s)
transition-delay(speed = 0.3s)
  transition-delay: speed

